<!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>&copy; Tim Durrant {{ 'now' | date: "%Y" }}</li>
            </ul>
        </div>
    </section>
		<!--<script src="{{ site.baseurl }}/js/jquery.min.js"></script>-->
		<!--<script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>-->
		<!--<script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>-->
		<!--<script src="{{ site.baseurl }}/js/skel.min.js"></script>-->
		<!--<script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>-->
		<!--<script src="{{ site.baseurl }}/js/init.js"></script>-->

		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
