
	<head>
		<title>Tim Durrant</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="referrer" content="origin">
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
		</noscript>
		<script>
		// Wait for window load
		$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});	
		</script>
		<style>
			.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
		</style>
	</head>
		
