      	<ul class="icons">
		<li><a href="http://github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="http://twitter.com/{{ site.twitter_username }}#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://au.linkedin.com/in/{{ site.linkedin_username }}#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="http://facebook.com/{{ site.facebook_username }}#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> 
       		<li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
	</ul>
